@import 'partials/base';
@import 'pages/about';
@import 'pages/work';
@import 'pages/writing';
@import 'pages/resume';
@import 'pages/basecamp';
@import 'shame';

// Global Layout Styles
// --------------------------------------------------

html {
}

body {
  @include background(darken(#FAFAFA, 1%));
  width: 100%;
  border-top: 5px solid $gray-dark;
  color: $text-color;
  font-size: 100%;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

main {
  display: block;
}

%group {
  *zoom:1;
  &:before,
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0;
  }
}





// Typography Styles
// --------------------------------------------------

// Prevent FOUT
.wf-loading {
  h1, h2, h3,
  h4, h5, h6,
  p,
  a,
  time,
  .nav-list li a {
    display: none;
  }
} //wf-loading

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: $headline-font-family;
  line-height: 1.25;
} //h1 - h6

h1 {
  font-weight: 400;
  font-family: $base-font-family;
}


h3 {
  @include respond-to(31.25em) {
    font-size: calc-em(21px);
  }
  margin-bottom: calc-em(3px, 17px);
  font-weight: 400;
  font-size: calc-em(17px);
  font-family: $base-font-family;
}

p {
  @include respond-to(31.25em) {
    font-size: calc-em(21px);
  }
  margin: 0 0 1.25em;
  font-size: calc-em(17px);
  line-height: 1.617em;
}

hr {
  height: 1px;
  border: none;
  background-color: lighten($gray, 10%);
}

.icon-bolt {
  display: block;
  margin: 0 auto calc-em(42px, 36px);
  text-align: center;
  font-size: calc-em(32px);
} //icon-bolt

blockquote {
  @include pad(1,1);
  margin: 0 0 calc-em(34px);

  color: lighten($text-color, 25%);
  font-style: italic;
  p {
    font-size: calc-em(15px);
    line-height: 1.75em;
  }
} //blockquote


ul {
  @include respond-to(36em) {
    margin-left: 0;
  }
  margin: 0 0 calc-em(18px) calc-em(18px);

  li {
    list-style-position: inside;
    list-style-position: outside;
    list-style-type: disc;
    font-style: italic;
    font-size: calc-em(18px);
    line-height: calc-em(27px, 18px);
  }
}

hr {
  margin: calc-em(32px) 0;
}

img {
  max-width: 100%;
}

// Link Styles
// --------------------------------------------------
a {
  @include transition(all .2s linear);
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
} //a

// Container & Wrapper
// --------------------------------------------------

%container {
  @include container;
  max-width: 1180px;
} //container


//  Header
//  *************************************
.hero {
  width: 100%;
  height: calc-em(420px);
} //hero

.site-header {
  @extend %container;
  border-right: 1px solid lighten($gray, 13%);
  border-left: 1px solid lighten($gray, 13%);
  background: $white;
  text-align: center;

  ul {
    margin: 0;
  }

  h2 {

    @include respond-to(32em) {
      font-size: calc-em(32px);
      .index & {
        margin-bottom: calc-em(12px);
      }
    }
    margin: 0 0 calc-em(42px, 24px);
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: calc-em(24px);
    font-family: $base-font-family;
    line-height: 1.618em;
  } //h2



  > hr {
    margin: 0 0 calc-em(48px);
  }
} //site-header

.mugshot {

  @include ie9 {
    background: transparent image-url('img-avatar-old.png');
  }
  margin-bottom: calc-em(48px);
  width: calc-em(240px);
  height: calc-em(240px);
  background-image: image-url('img-avatar@2x.png');
  background-size: 100%;
  text-indent: -99999;

  mask-image: image-url('avatar.svg');
  mask-size: calc-em(240px) calc-em(240px);
  mask-position: 0;
  mask-position-x: 0px;
  mask-position-y: 50%;

  -webkit-mask-image: image-url('avatar.svg');
  -webkit-mask-size: calc-em(240px) calc-em(240px);
  -webkit-mask-position: 0;
  -webkit-mask-position-x: 0px;
  -webkit-mask-position-y: 50%;

  -moz-mask-image: image-url('avatar.svg');
  -moz-mask-size: calc-em(240px) calc-em(240px);
  -moz-mask-position: 0;
  -moz-mask-position-x: 0px;
  -moz-mask-position-y: 50%;

} //mugshot
.site-nav {

  @extend %group;
  @include transition(all .3s ease);

  @include respond-to(34em) {
    @include squish(.5,.5);
  }
  @include respond-to(47.5em) {
    @include squish(1,1);
  }
  margin-bottom: calc-em(48px); //li
  padding: calc-em(21px) 0;
  border-bottom: 1px solid lighten($gray, 5%);

  h1 {
    @include respond-to(40em) {
      float: left;
      margin: 0;
      text-align: left;
    }
    margin: 0 0 calc-em(21px, 28px);
    text-align: center;
    font-size: calc-em(28px);
  } //h1

  a {
    color: $gray-dark;
    &:hover {
      color: $linkColor;
      text-decoration: none;
    }
  } //a

  .nav-list {
    @extend %group;
    @include respond-to(40em) {
      float: right;
      width: 57%;
    }
  } //nav-list

  li {
    display: inline-block;
    box-sizing: border-box;
    margin: 0; //a
    width: 32%;
    text-align: center;

    a {
      @include respond-to(34em) {
        font-size: calc-em(18px);
        line-height: 2em;
      }
      font-weight: 400;
      font-style: italic;
      font-size: calc-em(16px);
      font-family: $base-font-family;
      line-height: 1em;
      &.current {
        color: $linkColor;
      }
    }
  }
} //site-nav

.section-header {
  @include respond-to(34em) {
    @include pad(.5,.5);
  }
  @include respond-to(47.5em) {
    @include pad(1,1);
  }
  @include respond-to(70em) {
    @include pad(2,2);
  }
  margin-bottom: calc-em(24px);
  hr {
    margin: calc-em(18px) auto;
    width: 53%;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    @include respond-to(31.25em) {
      font-size: calc-em(48px);
    }
    margin: 0 0 calc-em(14px, 36px);
    font-weight: 400;
    font-size: calc-em(36px);
    font-family: $base-font-family;
  }
  h2 {
    @include respond-to(31.25em) {
      font-size: calc-em(28px);
    }
    margin-bottom: calc-em(21px, 21px);
    font-weight: 400;
    font-style: italic;
    font-size: calc-em(21px);
    font-family: $base-font-family;
    line-height: 1.618em;
  }
}

//  Main Content
//  *************************************
.main-content {
  @extend %container;
  border-right: 1px solid lighten($gray, 13%);
  border-left: 1px solid lighten($gray, 13%);
  background: $white;
} //main-content

.bio,
.recent-posts {
  @include respond-to(34em) {
    @include pad(2,2);
  }
  margin-bottom: calc-em(48px);
} //bio //recent-posts

.bio {
  margin-bottom: calc-em(48px);
} //bio

.section-body {
  @include respond-to(34em) {
    @include pad(.5,.5);
  }
  @include respond-to(47.5em) {
    @include pad(1,1); 
  }
  @include respond-to(70em) {
    @include pad(2,2);
  }
  margin-bottom: calc-em(48px);
}
.page-body {
  margin-bottom: calc-em(48px);
  h3 {
    font-weight: 800;
    font-size: calc-em(18px);
  }
}
#imagelightbox {
  position: fixed;
  z-index: 9999;
}
#imagelightbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .9 );
}

#imagelightbox-close
{
  position: fixed;
  top: 2.5em; /* 40 */
  right: 2.5em; /* 40 */
  z-index: 10002;
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666;
  text-align: left;
  text-indent: -9999px;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
#imagelightbox-close:hover
{
  background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  background-color: #fff;
  content: '';
}
#imagelightbox-close:before
{
  -webkit-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  -o-transform: rotate( 45deg );
  transform: rotate( 45deg );
}
#imagelightbox-close:after
{
  -webkit-transform: rotate( -45deg );
  -moz-transform: rotate( -45deg );
  -ms-transform: rotate( -45deg );
  -o-transform: rotate( -45deg );
  transform: rotate( -45deg );
}


.section-footer {

  color: lighten($gray-dark, 20%);
  @include respond-to(34em) {
    @include pad(.5,.5);
  }
  @include respond-to(47.5em) {
    @include pad(1,1); 
  }
  @include respond-to(70em) {
    @include pad(2,2);
  }
  margin-bottom: calc-em(48px);
}


//  Site Footer
//  *************************************

.site-footer {
  @include background(darken(#FAFAFA, 1%));

  h3 {
    margin-bottom: calc-em(8px, 13px);
    color: darken(#FAFAFA, 60%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc-em(13px);
    font-family: $alt-font-family;
  }
  p {
    color: darken(#FAFAFA, 60%);
    font-size: calc-em(15px);
    line-height: calc-em(22px, 15px);
    a {
      color: $text-color;
      &:hover {
        color: $linkColor;
      }
    }
  }
  .footer-content {
    padding-top: calc-em(47px);
    padding-bottom: calc-em(21px);
    @extend %container;
    @extend %group;
    border-top: 1px solid lighten($gray,13%);
  }
  .footer-posts {
    @include respond-to(34em) {
      @include prefix(2);
      @include span-columns(5);
    }
    margin-bottom: calc-em(32px);
    ul {
      font-size: calc-em(15px, 18px);
      li {
        margin: 0 0 calc-em(6px, 15px);
      }
    }
  }
  .footer-colophon {
    @include respond-to(34em) {
      @include span-columns(3);
    }
  }
}
