//  Blog Article
//  *************************************
.blog-article {
  h3 {
    font-weight: 700;
  }
} //blog-article


.article-body {

  h3 {
    font-family: $base-font-family;
    font-size: calc-em(21px);
    margin-bottom: calc-em(7px, 21px);
  }
  pre.prettyprint {
    padding: .8085em 1.617em;
  }
}

.archive {
  h1 {
    font-size: calc-em(28px);
    margin: 0 0 calc-em(6px, 28px);
  }
  .blog-article {
    margin: 0 0 calc-em(48px);
    padding-bottom: calc-em(48px);
    border-bottom: 1px solid $gray;
  }

  .summary-footer {
    time {
      color: lighten($text-color, 20%);
      display: block;
    }
  }
}
