body.resume {
  .main-content {
    @extend %container;
    padding: calc-em(48px) 0;
  }
  .resume-header,
  .resume-body,
  .resume-footer {
    @include respond-to(36em) {
      @include squish(1,1);
    }
    @include respond-to(69em) {
      @include squish(2,2);
    }
  }
  .resume-header {
    margin-bottom: calc-em(24px);
    h1 {
      font-size: calc-em(48px);
    }
    strong {
      font-weight: 700;
    }
    .contact {
      font-size: calc-em(15px);
    }
  }
  .resume-body {
    
  }
  .body-header {
    margin-bottom: calc-em(17px);
    h2 {
      font-weight: 400;
      font-family: $base-font-family;
      font-size: calc-em(17px);
      border-bottom: 1px solid $gray;
      margin-bottom: calc-em(8px, 17px);
      padding-bottom: calc-em(8px, 17px);
    }
  }
  .job-listing {
    margin: 0 0 calc-em(34px); 
  }
  .job-listing-header {
    margin-bottom: calc-em(8px);
    h1 {
      font-weight: 700;
      font-size: calc-em(21px);
      margin-bottom: calc-em(3px, 21px);
    }
    h2 {
      font-style: italic;
      font-family: $base-font-family;
      font-weight: 400;
      font-size: calc-em(14px);
    }
  }
  .job-highlights {
    li {
      font-style: normal;
    }
  }
}
