

@import 'partials/base';
.work {
  .section-header {
    margin-bottom: calc-em(32px);
  }
  .computer {
    margin-bottom: 0;
  }
  .portfolio-list {
    display: inline-block;
    font-size: .1px;
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
    .portfolio-item {
      font-size: calc-em(14px, .1px);
      overflow: hidden;
      > a {
        display: block;
        position: relative;
        overflow: hidden;
        .about-item {
          background: $white;
          background: rgba(0,0,0,.85);
          position: absolute;
          top: 300px;
          right: 0;
          left: 0;
          bottom: 0;
          @include transition(.1s ease-in all); 
        }
        &:hover {
          .about-item {
            top: 0;
          }
        }
      }
      display: inline-block;
      width: 33.3333%;
      list-style-type: none;
      font-style: normal;
      &:last-child {
        border: none;
      }
      .port-image {
        text-align: center;
        padding: calc-em(16px);
        img {
          @include box-shadow(none);
          @include respond-to(48em) {
            margin: 0 auto;
          }
        }
      }
      .about-item  {
        padding: calc-em(16px);
        color: #CCC;
        h1 {
          color: $white;
        }
        h1 {
          font-size: calc-em(24px);
          margin-bottom: calc-em(12px, 24px);
          padding-bottom: calc-em(12px, 24px);
          border-bottom: 3px solid $white;
        }
        h2 {
          font-size: calc-em(18px);
          font-weight: 400;
          line-height: calc-em(27px, 18px);
          margin-bottom: calc-em(18px, 18px);
          font-family: $base-font-family;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .section-body {
    @include pad(.5,.5);
    h3 {
      margin-bottom: calc-em(8px);
    }

    img {
      margin-bottom: calc-em(72px);
      &.dash {
        display: block;
        margin: 0 auto;
      }
      &.computer {
        border: none;
        @include box-shadow(none);
      }
    }
  }
  .yocal .responsive-images {

    .res-image {
      width: 33%;
    
    }
  
  }
  .responsive-images {
    @extend %group;
    text-align: center;
    .res-image {
      width: 40%;
      float: left;
      img {
        width: 90%;
      }
      &:last-child {
        float: right;
      }
    }
  }
}
