--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header>
    <h1>The Lower 9</h1>
    <h2>I designed the identity and website for The Lower 9, an independent documentary focused on the rebuilding efforts in one of New Orleans' worst neighborhoods.</h2>
  </header>
  <div class="article-body">
    <%= image_tag 'work/lower9/img-homepage.png', :alt => 'The Lower 9 &mdash; Website' %>

    <h3>Branding</h3>
    <%= image_tag 'work/lower9/img-logo.jpg', :class => 'logo', :alt => 'The Lower 9 &mdash; Branding' %>
    
  </div>
  
</article>
<!-- /workpiece -->

