--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'MadTree Brewing', 'http://madtreebrewing.com/' %></h1>
    <hr />
    <h2>I did the design and front-end development for the entire MadTree site.</h2>
  </header>
  <div class="work-body section-body">
    
    <h3>Homepage</h3>
    <%= image_tag 'work/madtree/img-resp.png', :alt => 'madtree' %>
    <h3>Beer Page</h3>
    <%= image_tag 'work/madtree/img-home-resp.png', :alt => 'madtree' %>

  </div>
  
</article>
<!-- /workpiece -->


