--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header>
    <h1>Penn Oaks Country Club</h1>
    <h2>I designed the <%= link_to 'website', 'http://www.pennoaksgolfclub.com/', :target => '_blank', :title => 'Penn Oaks Golf Club website' %> for the Penn Oaks Golf Club.</h2>
  </header>
  <div class="article-body">
    <%= image_tag 'work/pennOaks/img-homepage.png', :alt => 'Penn Oaks Golf Club' %>
    <%= image_tag 'work/pennOaks/img-computer.png', :class => 'computer', :alt => 'Penn Oaks Golf Club' %>
    <h3>Private Homepage</h3>
    
    <%= image_tag 'work/pennOaks/img-privHome.png', :alt => 'Penn Oaks Golf Club' %>
  </div>
</article>
<!-- /workpiece -->
