--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header>
    <h1>System7</h1>
    <h2>System7 is a computer security blog and file archive.</h2>
  </header>
  <div class="article-body">
    <%= image_tag 'work/system7/img-logo.png', :class => 'logo', :alt => 'System7' %>
  </div>
  
</article>
<!-- /workpiece -->


