---
type: 'article'
nav: 'blog'
---
<article>
  <header>
    <h1><a href="/">Whoa there, partner.</a></h1>
  </header>
  <div class="l-article-body">
    Looks like you stumbled upon something you weren't supposed to see. Let's get you <a href="/" title="back home">back home</a>.
  </div>
  <!-- /article-body -->
  <footer>
      
  </footer>
</article>
