---
type: 'article'
nav: 'blog'
---


  <article>
    <header>
      <h1><a href="<%= article.url %>">Whoa there, partner.</a></h1>
    </header>
    <div class="l-article-body">
      Looks like you stumbled upon something you weren't supposed to. Let's get you back home.
      <a href="/" title="Back Home"><i class="icon-arrow-left"></i>Back Home</a>
    </div>
    <!-- /article-body -->
    <footer>
      
    </footer>
  </article>
