---
type: 'articles'
---

<% content_for :intro do %>

<%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: "Ryan Clark Merrill", class: 'mugshot' %>

<h2>I am a hungry designer and developer living in Cincinnati, Ohio. <br />I like my friends old, music loud and work tough.</h2>
<i class="icon-bolt"></i>
<% end %>

<% content_for :bio do %>
<section class="bio">
  <p>I'm interested in exploring the intersection of digital design and publishing.</p>
  <p>My designs tend to eschew superfluous ornaments and decorations in favor of considered typography and clean lines. The best designs are often invisible and allow the user to efficiently accomplish the task at hand.</p>
  <p>Design starts with strong content. As a former journalist and editor, I understand the importance of readability and accessibility and will strive for the benefit of the audience. <%= link_to 'Get in touch', 'mailto:ryan@ryanmerrill.net' %>.</p>
</section>
<% end %>
