---
type: 'article'
---

<article class="workpiece">
  <header>
    <h1>The Lower 9</h1>
    <h2>Not seldom in this life, when, on the right side, fortune's favourites sail close by us, we, though all adroop before, catch somewhat of the rushing breeze, and joyfully feel our bagging sails fill out.</h2>
  </header>
  <div class="article-body">
    <%= image_tag 'work/lower9/img-homepage.png' %>

    <h3>Branding</h3>
    <%= image_tag 'work/lower9/img-logo.jpg', :class => 'logo' %>
    
  </div>
  
</article>
<!-- /workpiece -->

