---
type: 'article'
---

<article class="workpiece wedding">
  <header>
    <h1>My Wedding</h1>
    <h2>Not seldom in this life, when, on the right side, fortune's favourites sail close by us, we, though all adroop before, catch somewhat of the rushing breeze, and joyfully feel our bagging sails fill out.</h2>
  </header>
  <div class="article-body">

    <%= image_tag 'work/wedding/img-invitePackage.jpg' %>
    
    <h3>Website &ndash; <%= link_to 'Visit the site', 'http://www.merrillwedding.com/', :title => 'Ryan &amp; Anne Merrill\'s Wedding', :target => '_blank' %></h3>
    <img src="/images/work/wedding/img-computer.png" alt="" class="computer" />
    
    
   <h3>Invitations &amp; Save the Date</h3>
   <div class="group">
     <%= image_tag 'work/wedding/img-invite.png', :class => 'invite' %>
     <%= image_tag 'work/wedding/img-std.png', :class => 'std' %>
     
   </div>
        

  </div>
  
</article>
<!-- /workpiece -->
